<a href="https://colab.research.google.com/github/MahmoodInamdar/Python-projects-MI/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sklearn.model_selection
import numpy as np
import sklearn.svm
import sklearn.metrics
import sklearn.preprocessing
import imblearn.over_sampling
import sklearn.decomposition

In [2]:
df = pd.read_csv("Stroke.csv")
df = df.drop(['ID'], axis=1)

df.head(10)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
0,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
5,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
6,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
7,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
8,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0
9,Female,74.0,1,0,Yes,Self-employed,Urban,205.84,54.6,never smoked,0

In [3]:
df.Age = df.Age.astype(int)

In [4]:
df.head()

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
0,Male,3,0,0,No,children,Rural,95.12,18.0,NaN,0
1,Male,58,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,Female,8,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,Female,70,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,Male,14,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [5]:
df_train, df_test = sklearn.model_selection.train_test_split(df)

print("df_train size:" , df_train.shape)
print("df_test size:" , df_test.shape)

df_train size: (32550, 11)
df_test size: (10850, 11)

In [6]:
for i in df_train.columns:
  print(i)
  print(df_train[i].unique(),"\n")

Gender
['Female' 'Male' 'Other']

Age
[ 1  0 60 21 32 81 10 75 55 59 16 79 45 61 28 80 47 68 53 69  9 82 73 23
 37 11 36 49 27 70 66  2  5 57 54 63 33 51 25 14 50 78 46  3 19 64 65  7
 42 67 20 29 38 71 52 31 76 72 74 30 34  4 39 12 40 17 15 24 22 26 48 56
 43 44 41 18  8 62  6 77 35 13 58]

Hypertension
[0 1]

Heart_Disease
[0 1]

Ever_Married
['No' 'Yes']

Work_Type
['children' 'Private' 'Govt_job' 'Self-employed' 'Never_worked']

Residence_Type
['Urban' 'Rural']

Avg_Glucose_Level
[131.67 111.11 246.14 ... 186.46 194.04 218.51]

BMI
[18.1 14.7 41.4 22.9 31.8 23.5 19.4 24.4 31.5 36.1 35.1 23.6 22.  26.7
 31.3 28.1 25.4 22.7 27.3 29.5  nan 16.7 29.  26.1 29.4 28.7 16.8 44.8
 23.1 50.3 37.4 37.8 14.4 39.1 33.1 31.6 26.6 15.2 20.3 14.6 22.5 26.9
 25.8 35.8 29.1 24.5 20.7 54.1 35.5 25.6 15.3 44.5 30.8 24.9 25.5 24.6
 23.4 34.  21.9 35.6 28.9 38.3 27.4 30.  23.9 26.8 31.1 14.9 23.3 27.9
 32.3 28.4 31.4 26.5 46.4 16.6 35.7 20.2 21.7 31.7 28.6 25.3 22.4 41.3
 27.  27.5 38.2 19.6 26.4 32.  31.  28.3 29.2 34.8 30.2 21.1 32.2 38.5
 21.4 32.1 18.6 43.2 20.9 18.4 34.7 24.8 19.3 25.7 41.1 34.3 27.1 45.5
 45.9 14.5 20.5 21.  25.9 25.1 30.4 28.5 28.2 25.2 29.3 33.7 33.5 32.6
 38.  17.3 42.8 41.8 28.  30.5 22.1 40.7 20.  23.  18.5 18.8 16.2 18.3
 29.7 39.9 34.4 13.1 18.9 21.3 17.1 27.8 19.2 19.8 22.8 23.8 19.9 29.9
 17.7 36.3 20.4 21.6 18.2 32.4 25.  38.1 33.3 37.5 36.  62.2 37.  30.9
 17.5 17.4 53.6 29.6 19.7 34.5 38.7 21.5 31.2 39.6 36.5 29.8 30.1 43.6
 34.6 57.5 23.2 19.  24.  41.5 27.7 36.8 43.5 28.8 16.4 11.3 19.1 20.8
 24.7 33.8 30.7 24.3 27.2 17.6 46.6 32.7 27.6 24.1 37.2 26.  19.5 30.6
 22.3 31.9 33.6 35.4 42.4 33.4 36.4 23.7 18.  37.3 17.  17.2 37.7 37.1
 33.2 16.1 44.  47.3 14.2 24.2 42.9 39.  40.2 38.6 20.6 22.6 17.8 36.7
 22.2 55.1 32.5 34.2 40.1 32.8 43.7 49.1 39.5 15.7 35.3 21.2 38.8 78.
 39.4 34.9 40.  42.7 15.9 33.9 43.3 16.5 26.3 35.2 38.9 26.2 14.1 33.
 46.9 45.6 36.9 16.  38.4 41.6 44.3 39.2 42.6 66.4 46.5 49.5 44.9 39.3
 43.1 39.7 32.9 30.3 41.  56.9 34.1 40.3 43.9 47.4 40.6 18.7 35.9 21.8
 48.1 53.9 17.9 40.5 57.6 36.2 40.4 14.8 44.1 15.1 51.  15.6 58.7 45.8
 13.9 37.6 15.8 20.1 40.8 57.3 15.5 43.8 42.5 41.7 45.  45.3 46.  45.4
 49.9 47.5 35.  42.3 41.9 47.8 42.1 47.2 14.3 50.  16.9 39.8 52.4 36.6
 51.6 46.1 16.3 41.2 15.4 10.8 58.1 89.  55.4 47.  46.7 12.8 43.4 44.6
 14.  49.8 49.2 40.9 51.9 13.  43.  80.2 69.4 51.2 48.3 42.2 13.3 13.6
 37.9 47.7 46.8 44.7 48.7 51.7 53.4 60.7 53.  49.7 46.2 15.  48.8 55.8
 55.9 12.7 44.2 53.8 50.1 42.  52.7 55.7 71.5 68.6 61.9 12.9 55.3 11.6
 46.3 47.1 51.3 58.8 60.5 53.3 59.  59.2 47.9 53.7 49.3 45.1 55.2 52.6
 13.8 50.8 45.2 54.7 51.5 13.5 45.7 55.6 52.5 60.6 49.  53.2 44.4 50.4
 50.2 53.5 51.1 12.2 11.4 55.  50.6 52.1 61.8 52.8 48.9 63.8 11.1 49.4
 64.8 48.4 59.6 52.3 54.4 51.4 13.7 63.2 52.2 12.5 60.  57.2 82.7 50.5
 13.2 60.9 56.7 50.7 48.2 52.9 51.8 62.9 47.6 48.  56.8 56.5 12.  48.6
 49.6 96.1 57.1 54.5 60.1 52.  72.2 11.9 56.6 12.6 60.2 11.  50.9 58.3
 10.3 65.2 13.4 64.  61.3 64.9 54.8 56.4 12.1 56.3 56.2 48.5 12.4 58.
 54.9 60.3 58.9 55.5 58.6 59.7 54.  59.3 97.6 58.4 62.3 70.3 65.5 54.6
 57.4 66.3 64.2 54.2 70.6 58.2 11.7 57.  63.6 57.8 69.8 54.3 92.  89.1
 61.1 10.5 58.5 57.7 56.  67.  64.7 80.1 62.  61.2 65.8 59.1 11.2 66.8]

Smoking_Status
[nan 'formerly smoked' 'never smoked' 'smokes']

Stroke
[0 1]

In [7]:
for i in df_test.columns:
  print(i)
  print(df_test[i].unique(),"\n")

Gender
['Female' 'Male' 'Other']

Age
[31 57 60 30  9  3 45 41  8 32 42 27 53 61 34 75 58 36 47 21 43 22 67 18
 24 76 23 10  1 64  6 71 16 51  0 50  2 38 48 59 72 40 74 66 56 20 80 77
 14 25 70  5 79 65 15 13 73 46 49 54 26 78 37 19 69 39 28 55 17 33 62  4
 44 81 29 52 35 63 12 68 11 82  7]

Hypertension
[0 1]

Heart_Disease
[0 1]

Ever_Married
['Yes' 'No']

Work_Type
['Private' 'children' 'Self-employed' 'Govt_job' 'Never_worked']

Residence_Type
['Urban' 'Rural']

Avg_Glucose_Level
[ 74.38  91.12 199.81 ... 111.19  71.64 127.42]

BMI
[39.8 24.  28.8 32.5  nan 24.5 34.1 42.2 28.4 27.2 38.5 33.5 28.7 28.
 30.8 25.2 33.7 38.7 23.3 27.  40.1 27.8 31.9 32.9 28.3 26.  31.7 35.5
 20.2 25.3 34.9 27.1 14.9 16.5 29.3 29.1 20.9 27.3 34.  20.5 40.7 38.8
 13.1 32.8 18.3 46.9 59.2 25.7 41.4 26.7 16.1 27.4 29.  28.2 23.8 24.1
 34.6 28.5 27.9 22.5 20.3 22.3 31.  25.  19.8 23.4 29.4 36.8 28.6 32.
 25.1 55.5 28.1 46.8 16.6 40.  27.7 19.9 36.9 33.6 36.1 43.8 38.  24.7
 34.4 29.5 27.5 23.7 30.6 23.5 34.3 42.5 40.3 27.6 38.1 22.4 24.3 30.9
 37.3 24.6 25.6 33.9 26.1 22.2 22.6 14.2 19.3 17.9 23.6 19.1 35.3 25.9
 55.  25.5 58.2 52.  32.2 22.  23.1 42.7 23.9 23.2 52.7 21.4 30.3 35.2
 31.2 13.8 36.7 37.6 26.5 24.9 19.5 33.2 19.4 32.6 21.1 48.8 19.  24.4
 26.3 43.3 28.9 17.5 57.6 26.2 31.5 21.2 34.8 19.6 30.7 47.1 31.3 42.6
 15.2 16.3 41.6 30.1 18.6 18.5 55.4 31.8 33.8 30.2 31.1 18.4 32.4 25.8
 29.2 21.9 29.7 29.6 34.2 35.1 17.6 12.  14.6 30.4 34.5 16.7 26.6 35.4
 43.7 29.8 23.  39.6 15.1 24.2 16.9 38.9 21.6 36.6 20.8 71.9 17.2 31.4
 30.5 33.3 18.1 22.1 20.1 18.9 18.8 50.1 34.7 36.4 17.8 22.7 35.8 36.2
 44.1 26.4 20.4 24.8 15.4 44.4 20.6 17.  16.  38.4 18.  43.9 47.  39.2
 45.3 19.7 50.2 40.9 19.2 22.9 25.4 37.5 14.5 45.8 45.4 33.  21.7 45.5
 45.6 49.4 32.7 15.9 35.  12.3 45.2 49.8 37.7 21.5 43.1 46.  29.9 50.8
 36.  42.4 37.1 26.9 18.2 37.8 22.8 53.2 16.4 14.7 42.8 54.  33.4 32.3
 16.8 39.1 35.7 39.4 21.3 21.8 43.  47.3 37.9 21.  39.7 46.3 37.  17.7
 54.1 38.6 41.9 20.7 30.  41.5 16.2 44.2 26.8 15.  37.2 43.2 38.2 45.7
 46.1 40.4 31.6 17.4 57.  46.7 35.9 15.5 32.1 15.6 56.4 40.8 14.8 15.7
 15.8 41.7 18.7 51.2 14.1 39.  36.5 13.3 38.3 48.7 48.3 39.5 33.1 44.7
 48.  17.3 46.6 52.3 39.3 44.5 42.  37.4 44.6 41.8 14.  40.2 35.6 64.1
 52.8 41.2 43.4 59.7 55.9 14.4 45.9 12.8 36.3 44.8 42.1 15.3 40.5 47.6
 14.3 42.3 46.4 47.5 63.5 41.1 43.5 50.4 48.2 12.1 50.5 20.  46.5 17.1
 41.  11.5 51.7 43.6 10.1 57.4 13.6 40.6 53.6 61.1 41.3 44.9 47.4 13.7
 53.8 51.3 44.3 61.2 49.  52.1 68.5 12.5 54.8 13.2 54.9 51.1 50.9 13.4
 46.2 65.7 48.9 50.6 51.8 49.3 56.  45.  47.2 56.6 55.2 55.7 48.5 88.6
 39.9 53.5 61.6 44.  13.9 49.1 42.9 49.9 49.6 12.7 54.2 51.6 54.3 45.1
 64.4 53.4 47.8 52.9 51.4 53.  58.7 55.8 51.9 56.3 51.5 63.3 10.6 50.3
 65.9 57.1 48.4 54.6 52.6 49.5 52.4 50.  47.9 52.5 64.2 64.8 49.2 58.5
 66.3 47.7 60.9 62.  57.9 12.2 13.5 68.  57.7 56.2 54.5 61.  71.8 58.4
 59.  71.7 58.8 65.5 53.1 54.4 49.7 59.9 56.1 56.7 65.3 63. ]

Smoking_Status
[nan 'never smoked' 'formerly smoked' 'smokes']

Stroke
[0 1]

In [8]:
df_train.isnull().sum()

Gender                  0
Age                     0
Hypertension            0
Heart_Disease           0
Ever_Married            0
Work_Type               0
Residence_Type          0
Avg_Glucose_Level       0
BMI                  1081
Smoking_Status       9923
Stroke                  0
dtype: int64

In [9]:
df_test.isnull().sum()

Gender                  0
Age                     0
Hypertension            0
Heart_Disease           0
Ever_Married            0
Work_Type               0
Residence_Type          0
Avg_Glucose_Level       0
BMI                   381
Smoking_Status       3369
Stroke                  0
dtype: int64

In [10]:
df_train = df_train.replace(" ", pd.NaT)   
df_train = df_train.dropna()

df_test = df_test.replace(" ", pd.NaT)     
df_test = df_test.dropna()

print("df_train size:", df_train.shape)
print("df_test size:", df_test.shape)

df_train size: (21847, 11)
df_test size: (7225, 11)

In [11]:
df_train.head(10)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
9566,Male,60,1,0,Yes,Private,Urban,246.14,41.4,formerly smoked,0
27983,Female,21,0,0,No,Private,Urban,91.56,22.9,never smoked,0
12610,Male,32,0,0,Yes,Govt_job,Urban,109.26,31.8,formerly smoked,0
41701,Female,81,0,0,Yes,Self-employed,Urban,92.97,23.5,formerly smoked,0
6585,Male,75,0,1,Yes,Self-employed,Rural,88.97,31.5,smokes,0
27315,Female,59,1,0,Yes,Self-employed,Urban,256.25,35.1,smokes,0
10402,Male,16,0,0,No,Self-employed,Urban,200.81,23.6,never smoked,0
11,Male,79,0,1,Yes,Private,Urban,57.08,22.0,formerly smoked,0
31443,Female,45,0,0,Yes,Private,Rural,63.14,24.4,smokes,0
40246,Female,61,0,0,Yes,Self-employed,Rural,181.93,26.7,never smoked,0

In [12]:
df_train.tail(10)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
42215,Female,16,0,0,No,Private,Urban,82.50,26.2,formerly smoked,0
28860,Male,57,1,0,Yes,Private,Rural,102.02,29.3,never smoked,0
3068,Female,55,0,0,Yes,Private,Urban,71.02,21.2,never smoked,0
10100,Female,78,0,0,No,Self-employed,Rural,88.53,27.5,never smoked,0
30520,Female,64,0,0,Yes,Self-employed,Rural,116.82,27.2,smokes,0
27916,Female,81,0,0,Yes,Self-employed,Rural,65.20,26.5,formerly smoked,0
7385,Female,16,0,0,No,Private,Rural,103.74,15.1,never smoked,0
24148,Male,39,0,0,Yes,Private,Rural,81.72,41.9,never smoked,0
443,Male,20,0,0,No,Private,Urban,55.25,20.4,never smoked,0
37233,Male,61,0,0,Yes,Govt_job,Rural,103.21,46.2,never smoked,0

In [13]:
df_test.head(10)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
14507,Male,57,0,0,Yes,Private,Rural,91.12,24.0,never smoked,0
8221,Female,60,1,1,Yes,Private,Rural,199.81,28.8,formerly smoked,0
537,Female,30,0,0,Yes,Private,Rural,99.20,32.5,never smoked,0
22989,Male,45,0,0,No,Self-employed,Rural,89.14,34.1,never smoked,0
26685,Female,41,0,0,Yes,Govt_job,Rural,56.18,42.2,never smoked,0
42646,Female,42,0,0,Yes,Private,Urban,113.76,33.5,smokes,0
11831,Male,27,0,0,Yes,Private,Rural,95.07,28.7,never smoked,0
13831,Female,42,0,0,Yes,Private,Rural,107.32,30.8,never smoked,0
33763,Female,61,0,0,Yes,Private,Rural,71.73,25.2,formerly smoked,0
31848,Female,45,0,0,No,Private,Urban,99.21,38.7,smokes,0

In [14]:
df_test.tail(10)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
25813,Male,68,0,0,Yes,Self-employed,Urban,109.07,29.9,formerly smoked,0
17112,Female,47,0,0,Yes,Private,Rural,97.97,36.1,formerly smoked,0
12531,Female,73,0,0,Yes,Self-employed,Urban,91.79,29.7,smokes,0
16259,Male,39,0,0,Yes,Private,Urban,63.55,38.5,never smoked,0
6335,Female,41,1,0,No,Private,Urban,81.94,25.3,smokes,0
19221,Female,67,1,0,Yes,Self-employed,Rural,75.35,21.3,formerly smoked,0
42393,Female,41,0,0,Yes,Private,Rural,83.36,27.4,never smoked,0
14110,Female,31,0,0,Yes,Private,Urban,71.64,63.0,never smoked,0
28675,Male,58,0,0,Yes,Govt_job,Urban,77.05,33.2,formerly smoked,0
22081,Male,30,0,0,Yes,Private,Rural,91.04,35.1,never smoked,0

In [15]:
df_train.isnull().sum()

Gender               0
Age                  0
Hypertension         0
Heart_Disease        0
Ever_Married         0
Work_Type            0
Residence_Type       0
Avg_Glucose_Level    0
BMI                  0
Smoking_Status       0
Stroke               0
dtype: int64

In [16]:
df_test.isnull().sum()

Gender               0
Age                  0
Hypertension         0
Heart_Disease        0
Ever_Married         0
Work_Type            0
Residence_Type       0
Avg_Glucose_Level    0
BMI                  0
Smoking_Status       0
Stroke               0
dtype: int64

In [17]:
df_test = df_test.reset_index()

In [18]:
df_train = df_train.reset_index()

In [19]:
df_test.head()

,index,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
0,14507,Male,57,0,0,Yes,Private,Rural,91.12,24.0,never smoked,0
1,8221,Female,60,1,1,Yes,Private,Rural,199.81,28.8,formerly smoked,0
2,537,Female,30,0,0,Yes,Private,Rural,99.20,32.5,never smoked,0
3,22989,Male,45,0,0,No,Self-employed,Rural,89.14,34.1,never smoked,0
4,26685,Female,41,0,0,Yes,Govt_job,Rural,56.18,42.2,never smoked,0

In [20]:
df_train.head()

,index,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
0,9566,Male,60,1,0,Yes,Private,Urban,246.14,41.4,formerly smoked,0
1,27983,Female,21,0,0,No,Private,Urban,91.56,22.9,never smoked,0
2,12610,Male,32,0,0,Yes,Govt_job,Urban,109.26,31.8,formerly smoked,0
3,41701,Female,81,0,0,Yes,Self-employed,Urban,92.97,23.5,formerly smoked,0
4,6585,Male,75,0,1,Yes,Self-employed,Rural,88.97,31.5,smokes,0

In [21]:
x_train = df_train.drop(["Stroke"], axis=1)   
y_train = df_train["Stroke"]

x_test = df_test.drop(["Stroke"], axis=1)   
y_test = df_test["Stroke"]

print("x_train size:", x_train.shape)
print("y_train size:", y_train.shape)
print("x_test size:", x_test.shape)
print("y_test size:", y_test.shape)

x_train size: (21847, 11)
y_train size: (21847,)
x_test size: (7225, 11)
y_test size: (7225,)

In [22]:
## Encoding categorical Attributes

from sklearn.preprocessing import OneHotEncoder

#Building the one-hot encoder model
encode = OneHotEncoder(handle_unknown='ignore')
encode.fit(x_train)

#Encoding the categorical attributes of training data
x_train = encode.transform(x_train)

#Encoding the categorical attributes of test data
x_test = encode.transform(x_test)

print("x_train :", x_train.shape)
print("x_test :", x_test.shape)

x_train : (21847, 32150)
x_test : (7225, 32150)

In [23]:
# Building a standardization model

scaler = sklearn.preprocessing.StandardScaler(with_mean=False)
scaler.fit(x_train)

# scaling the training features
x_train = scaler.transform(x_train)

# Reducing the number of test features
X_test = scaler.transform(x_test)
print("X train:", x_train.shape)
print("X test:", x_test.shape)

X train: (21847, 32150)
X test: (7225, 32150)

In [24]:
## Balancing the Data
## handling imbalanced classes 

sm = imblearn.over_sampling.SMOTE(random_state=42)

x_train, y_train = sm.fit_resample(x_train, y_train)
y_train.value_counts()

#print("X train resampled size:", x_train_resampled.shape)
#print("Y train resampled size:", y_train_resampled.shape)

0    21443
1    21443
Name: Stroke, dtype: int64

In [25]:
model_knn = sklearn.neighbors.KNeighborsClassifier()
model_tree = sklearn.tree.DecisionTreeClassifier()
model_svm = sklearn.svm.SVC()

In [ ]:
parameters_svm = {'kernel':('linear', 'rbf'), 'C':[0.1, 1 , 3,5]}
model_svm = sklearn.svm.SVC()
clf_svm = sklearn.model_selection.GridSearchCV(model_svm, parameters_svm)
clf_svm.fit(x_train,y_train)

In [ ]:
y_preds = clf_svm.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_preds, y_test)
print(accuracy)

In [ ]:
parameters_knn = {'weights':('uniform', 'distance'), 'n_neighbors' :[2,3,4,5],'n_jobs' :[-1]}
model_knn = sklearn.neighbors.KNeighborsClassifier()
clf_knn = sklearn.model_selection.GridSearchCV(model_knn, parameters_knn)
clf_svm.fit(x_train,y_train)

In [ ]:
parameters_tree = {'criterion' :('gini', 'entropy'), 'min_samples_leaf':[1,2,4],'min_samples_split':[2,4,6],'max_depth': [5,7,10,13,15]}
model_tree = sklearn.tree.DecisionTreeClassifier()
clf_tree = sklearn.model_selection.GridSearchCV(model_tree, parameters_tree)
clf_svm.fit(x_train,y_train)